<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RawDataUrl" value="https://cdn.relewise.com/academy/productdata/raw" />
    <add key="JSONDataUrl" value="https://cdn.relewise.com/academy/productdata/customjsonfeed" />
    <add key="ShoppingFeedDataUrl" value="https://cdn.relewise.com/academy/productdata/googleshoppingfeed" />
  </appSettings>
</configuration>